.container{
    display: grid;
    gap: 2rem;
    margin-left: 10px;
    margin-right: 10px;
    grid-auto-rows: 22rem ;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    
}

.img{
    margin-top: 15px;
    border-radius: 30px;

}

.h1{
   text-align: center;
   font-size: 20px;
   color: #000000;
   text-underline-offset: none;
   font-weight: bold;
}

.contenido{
    background-color: rgba(240, 248, 255, 0.569);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    width: auto;
    height: 150px;
    align-items: center;
    text-align: center;
    margin-top: 4px;
    
}

.h5{
    color: rgb(208, 16, 16);
    margin-top: 15px;
    line-height: 50%;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.card{
    border: solid 1px gray;
    border-radius: 20px;
    flex-direction: column;
    width: auto;
    height: 350px;
    background-color: rgba(228, 173, 45, 0.39);
    
}


   