body{
   
    background-image: url('../img/Fondo\ Detail.jpg');
    background-position: absolute;
    background-size: cover;
}

.img{
    margin-top: -20px;
    border-radius: 30px;
    height: 50%;
    width: 80%;

}

.h1{
   text-align: center;
   font-size: 20px;
   color: #000;

}

.h2{
  text-align: center;
  font-size: 20px;
  color: #faf9f9;
 margin-top: -20px;

}

.contenido{
    background-color: rgba(240, 248, 255, 0.569);
    border-radius: 20px;
    margin-left: 10px;
    flex-direction: column;
    width: 300px;
    height: 220px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    align-content: center; 
}

.h5{
    color: rgb(6, 6, 6);
    margin-top: 10px;
    line-height: 50%;
    text-decoration-line: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.countryDetail{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    height: 500px;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: rgba(222, 144, 9, 0.645);
    box-sizing: border-box;
    box-shadow: 20px 40px 50px rgba(158, 90, 7, 0.712);
    border-radius: 10px;
    
    
}

.countryActivity{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 30px;
  justify-content: space-around;
  position: relative;
  align-items: center;
  

  
  
}
.cardActivity{
  margin-top: 50px;
  left: -20pxpx;
  width: 300px;
  height: 200px;
  padding: 40px;
  background: rgba(222, 144, 9, 0.645);
  box-sizing: border-box;
  box-shadow: 20px 40px 50px rgba(158, 90, 7, 0.712);
  border-radius: 10px;
}

.loader {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 20px auto;
    
    transform: translate(-50%, -55%);

  }
  
  .loadertext {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #0b0b0b;
    animation: text_713 3.5s ease both infinite;
    font-size:30px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .load {
    background-color: rgba(245, 243, 241, 0.645);
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
  }
  
  .load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(112, 109, 105, 0.645);
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
  }
  
  @keyframes text_713 {
    0% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  
    40% {
      letter-spacing: 2px;
      transform: translateX(26px);
    }
  
    80% {
      letter-spacing: 1px;
      transform: translateX(32px);
    }
  
    90% {
      letter-spacing: 2px;
      transform: translateX(0px);
    }
  
    100% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading_713 {
    0% {
      width: 16px;
      transform: translateX(0px);
    }
  
    40% {
      width: 100%;
      transform: translateX(0px);
    }
  
    80% {
      width: 16px;
      transform: translateX(64px);
    }
  
    90% {
      width: 100%;
      transform: translateX(0px);
    }
  
    100% {
      width: 16px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading2_713 {
    0% {
      transform: translateX(0px);
      width: 16px;
    }
  
    40% {
      transform: translateX(0%);
      width: 80%;
    }
  
    80% {
      width: 100%;
      transform: translateX(0px);
    }
  
    90% {
      width: 80%;
      transform: translateX(15px);
    }
  
    100% {
      transform: translateX(0px);
      width: 16px;
    }
  }
   
   
  
  

