/* .Home {
    background-image: url(../img/Fondo\ Home.jpg);
    background-size: cover;
    background-repeat: repeat;
    position: relative;
    
    
} */
.h3{
  
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: -50px;
}
.buttonNav{
  border-radius: 10px;
  background-color: rgba(227, 136, 24, 0.912);
  border: none;
  width: 230px;
  height: 40px;
  font-weight: bold;
  font-family: 'Lucida Sans';
}

.buttonNav:hover {
  background-color: rgb(130, 80, 9);
  color: aliceblue;
  border-color: black;
}
.nav{
  position: relative;
    top: 50%;
    left: 50%;
    display: flex;
    gap: 10px;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: rgba(193, 163, 98, 0.708);
    width: 75%;
    height: 60px; 
    align-items: center;
    border-radius: 10px;
    
}


.box {
    position: relative;
    top: 50%;
    left: 50%;
    display: flex;
    gap: 10px;
    justify-content: center;
    transform: translate(-50%, -50%);
  }
  
  .box select {
    background-color:rgba(193, 163, 98, 0.708);
    color: rgb(0, 0, 0);
    padding: 12px;
    width: 250px;
    height: 45px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
  }

  .box select:hover{
    background-color: azure;
  }
  
 
  .box select option {
    padding: 30px;
  } 

  
  #page {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
  }
  
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  #h3 {
    color: rgb(242, 238, 238);
    font-weight: bold;
    font-size: 40px;
  }
  
  #ring {
    width: 500px;
    height: 500px;
    border: 10px solid transparent;
    border-radius: 50%;
    position: absolute;
  }
  
  #ring:nth-child(1) {
    border-bottom: 8px solid rgb(225, 100, 4);
    animation: rotate1 2s linear infinite;
  }
  
  @keyframes rotate1 {
    from {
      transform: rotateX(50deg) rotateZ(110deg);
    }
  
    to {
      transform: rotateX(50deg) rotateZ(470deg);
    }
  }
  
  #ring:nth-child(2) {
    border-bottom: 8px solid rgb(240, 19, 67);
    animation: rotate2 2s linear infinite;
  }
  
  @keyframes rotate2 {
    from {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
    }
  
    to {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
    }
  }
  
  #ring:nth-child(3) {
    border-bottom: 8px solid rgb(3, 170, 170);
    animation: rotate3 2s linear infinite;
  }
  
  @keyframes rotate3 {
    from {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
    }
  
    to {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
    }
  }
  
  #ring:nth-child(4) {
    border-bottom: 8px solid rgb(207, 135, 1);
    animation: rotate4 2s linear infinite;
  }
  
  @keyframes rotate4 {
    from {
      transform: rotateX(70deg) rotateZ(270deg);
    }
  
    to {
      transform: rotateX(70deg) rotateZ(630deg);
    }
  }
 
 



