.Home {
    background-image: url(../img/Fondo\ Home.jpg);
    background-size: cover;
    background-repeat: repeat;
    
    
}
.nav{
  position: relative;
    top: 50%;
    left: 50%;
    display: flex;
    gap: 10px;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: rgba(193, 37, 37, 0.62);
    width: 50%;
    height: 30px; 
    align-items: center;
    
}


.box {
    position: relative;
    top: 50%;
    left: 50%;
    display: flex;
    gap: 10px;
    justify-content: center;
    transform: translate(-50%, -50%);
  }
  
  .box select {
    background-color:rgba(193, 163, 98, 0.708);
    color: rgb(0, 0, 0);
    padding: 12px;
    width: 250px;
    height: 45px;
    border: none;
    font-size: 16px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
 
  .box select option {
    padding: 30px;
  } 