
  
  /* Position the navbar container inside the image */
  .container {
    position: relative;
    margin-bottom: 40px;
    width: auto;
    
    
  }

  

  .buttonNav{
    border-radius: 10px;
    background-color: rgba(232, 231, 228, 0.528);
    border: none;
    width: 250px;
    height: 40px;
    font-weight: bold;
    font-family: 'Lucida Sans';
    margin-left: 10px;
    margin-right: 10px;
  }

  .buttonNav:hover {
    background-color: rgba(193, 100, 7, 0.623);
    color: aliceblue;
    border-color: black;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: rgba(207, 121, 23, 0.948);
    height: 60px;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }

  .topnav h1 {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
  }
  
  .topnav a:hover {
    background-color: #e06d0f;
    color: black;
  }

  

  