.paginadoContainer {
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 7vh;
}

.ul {
  padding: 0 0 0 0;
  background-color: rgba(228, 173, 45, 0.558);
  width: 70vw;
  height: 100%;
  display: flex;    
  justify-content: center;
  align-items: center;
  list-style: none;
}

.numeroPaginado {
  background-color: #fdfdff;
  display: flex;
  align-items: center;
  justify-content: center ;
  margin: 0 2px 0 8px;
  cursor: pointer;
  width: 2vw;
  border-radius: 10px;
  height: 5vh;
  color: #490505;
  font-size: large;
}

.numeroPaginado:hover{
  background-color:#a62f2f;
}