.buttonNav{
    border-radius: 10px;
    background-color: rgba(219, 219, 219, 0.693);
    border: none;
    align-items: end;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-family: 'Lucida Sans';
    margin-left: 10px;
    
  }
  
  .buttonNav:hover {
    background-color: rgba(193, 100, 7, 0.623);
    color: aliceblue;
    border-color: black;
  }

 .inputSerch{
  border-radius: 10px;
  align-items: end;
  align-self: end;
  height: 30px;
  background-color: blanchedalmond;
  border: none;
  color: black;
  font-size: 18px;
  margin-right: 5px;
 } 